[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
	state = active
[access "refs/heads/*"]
	label-Approved = +0..+1 group contrail-test-ci-core
	label-Code-Review = -2..+2 group contrail-test-ci-core
	workInProgress = group contrail-test-ci-core
[access "refs/heads/R3.0"]
	exclusiveGroupPermissions = label-Approved
	label-Approved = +0..+1 group Release Managers
[access "refs/tags/*"]
	create = group contrail-test-ci-core
	pushTag = group contrail-test-ci-core
[access "refs/heads/R3.0.2.x"]
	exclusiveGroupPermissions = label-Approved
	label-Approved = +0..+1 group Release Twig Managers
