fixtures==1.0.0
testtools==1.7.1
testresources==0.2.7
discover==0.4.0
testrepository
junitxml
pytun
pexpect==4.7.0
pyvirtualdisplay==0.2.5
selenium==2.53.6
unittest2
xmltodict
junos-eznc==2.3.0
pyvmomi==6.5.0.2017.5.post1
linecache2
eventlet
nose
tabulate
fabric==1.11.1
paramiko==2.10.1
dpkt==1.9.2
kubernetes==11.0.0
backports.ssl-match-hostname==3.5.0.1
ipaddress==1.0.23 ; python_version == '2.7'
urllib3==1.26.5
websocket-client==0.55.0
netifaces
